@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
* {
   box-sizing: content-box;
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --VerypaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}
body {
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border: 0;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-container {
    background-color: white;
    width: 100%;
    max-width: 450px;
    border: 0px ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 10px 10px 50px #cddbff;
}
#textContainer{
    padding: 50px;
}
h1 {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
#description {
    text-align: center;
    color: var(--DesaturatedBlue);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.sub-container-1 {
    border: solid 2px;
    background: url(images/illustration-hero.svg);
    background-size: auto;  
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 11px 11px 0px 0px;
    object-fit: cover;
    border: 0;
    height: 207px;
}
.sub-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 0;
    background-color: var(--VerypaleBlue);
    border-radius: 10px;
    margin: 0px auto 15px auto;
    width: 100%;
    max-width: 325px;
    padding: 0 20px;
}
strong{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#music_icon {
    border: 0px;
    margin-top: 15px;
    margin-left: 0;
}

#music-div #annual-plan, #cost,#music_icon {
    border: 0;
}
#change {
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
    text-decoration: none;
    color: var(--Brightblue);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Button .buttonOfSelection {
    font-size: medium;
    color: white;
    background-color: var(--Brightblue);
    border: 0;
    padding: 15px;
    border-radius: 6px;
    width: 325px;
    cursor: pointer;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.buttonOfSelection:hover{
    background-color: var(--Darkblue);
}
.buttonOfCancellation {
    background-color: var(--VerypaleBlue);
    color: var(--Darkblue);
    border: 0;
    padding: 15px;
    width: 325px;
    font-family:Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#price {
    color: grey;
}
#annual-plan {
    margin-left: 10px;
}
